{% extends "layout.html" %} {% block content %}
<div class="row">
    <div class="col-md-3" class="categories">
        <h1>Categories</h1>
        {% for category in categories %}
        <div class="row">
            <div class="col-md-12">
                <h3><a href="/catalog/{{category.name}}/items">{{category.name}}</a></h3>
            </div>
        </div> {% endfor %}
    </div>
    <div class="col-md-9" class="items">

        {% if 'username' in session %}
        <a class="btn btn-success" style="float:right" ; role="button" href="/catalog/create">Add new item.</a> {% endif %}

        <h1>Recent Items</h1>
        {% for item in items %}
        <div class="row">
            <div class="col-md-12">
                <h3><a href="/catalog/{{item.name}}/show">{{item.name}}</a></h3>
                <span>{{item.category.name}}</span>
            </div>
        </div> {% endfor %}

    </div>
</div>


{% endblock %}