{% extends "layout.html" %} {% block content %}
<div class="row">
    <div class="col-md-3" class="categories">
        <h1>Categories</h1>
        {% for category in categories %}
        <div class="row">
            <div class="col-md-12">
                <h3>{{category.name}}</h3>
            </div>
        </div> {% endfor %}
    </div>
    <div class="col-md-9" class="items">
        <h1>Recent Items</h1>
        {% for item in items %}
        <div class="row">
            <div class="col-md-12">
                <h3>{{item.name}}</h3>
                <span>{{item.category.name}}</span>
            </div>
        </div> {% endfor %}

    </div>
</div>


{% endblock %}