{% extends 'layout.html' %} {% block content %}
<form method="POST">
    <div class="form-group">
        <label for="exampleInputTitle">Item Title</label>
        <input type="exampleInputTitle" name="name" class="form-control" id="exampleInputTitle" value="{{item.name}}">
    </div>
    <div class="form-group">
        <label for="exampleInputDescription">Item Description</label>
        <textarea type="exampleInputDescription" name="description" class="form-control" id="exampleInputDescription" value="{{item.description}}">{{item.description}}</textarea><br>
    </div>
    <select name="category_id">
        {% for cat in categories %}
        <option value="{{cat.id}}" {% if item.category.id==cat.id %} selected {% endif %}'>{{cat.name}}</option>
        {% endfor %}
    </select><br><br><br>
    <input type=submit>
</form>
{% endblock %}